<div class="jumbotron p-3 p-md-5 text-white rounded bg-color">
  <div class="col-md-12 px-0 text-center">
    <mat-icon aria-hidden="false" aria-label="liquor" class="display-4  text-center f-100">local_bar</mat-icon>
    <h1 class="">
      Coctail & Mixed Drinks
    </h1>
    <p class="lead my-3"></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3 col-xl-2 p-0">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Category</mat-label>
        <mat-select [formControl]="categories" [(ngModel)]="selectedCategories" multiple>
          <mat-option *ngFor="let category of categoriesList" [value]="category">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 col-xl-2 p-0">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Glass</mat-label>
        <mat-select [formControl]="glasses" [(ngModel)]="selectedGlasses" multiple>
          <mat-option *ngFor="let glass of glassesList" [value]="glass">{{glass}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 col-xl-2 p-0">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Alcohol</mat-label>
        <mat-select [formControl]="alcoholic" [(ngModel)]="selectedAlcoholic" multiple>
          <mat-option *ngFor="let alcoholic of alcoholicList" [value]="alcoholic">{{alcoholic}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 col-xl-2 p-0">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Ingredients</mat-label>
        <mat-select [formControl]="ingredients" [(ngModel)]="selectedIngredients" multiple>
          <mat-option *ngFor="let ingredient of ingredientsList" [value]="ingredient">{{ingredient}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <div class="col-6 col-sm-6 col-lg-6 col-xl-2 p-0">
      <div class="d-flex align-items-center tag-btn-li" *ngIf="viewKeyword">
        <button type="button" class="btn btn-sm btn-primary ml-3 mr-2 btn-center vertical-center" (click)="deleteKeyword()">
          <span class="btn-text">{{searchKeyword}}</span>
          <mat-icon class="tag-icon">close</mat-icon>
        </button>
      </div>
    </div>
  
    <div class="col-6 col-sm-6 col-lg-6 col-xl-2 p-0 pr-2">
      <div class="d-flex flex-row-reverse">
        <button type="button" class="btn btn-link px-3 me-2 text-theme" (click)="clearFilter()">
          Clear
        </button>
        <button type="button" class="btn btn-link px-3 me-2 text-theme" (click)="getCoctailByFilter()">
          Apply
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-columns">
    <div class="card" *ngFor="let coctail of viewCoctails">
      <a [routerLink]="['/drink', coctail.id]">
        <img class="card-img-top" src="{{coctail.photoUrl}}" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">{{coctail.name}}</h2>
          <p class="card-text">
            {{coctail.instructions}}
          </p>
          <p class="card-text"><small class="text-muted">
              <i></i>
              {{coctail.category}}
              <i></i>
              {{coctail.dateModified | date:'mediumDate'}}
            </small>
          </p>
        </div>
      </a>
    </div>
  </div>

  <div class="jumbotron p-3 p-md-5 text-white rounded bg-color" *ngIf="viewCoctails.length <=0 ">
    <div class="col-md-12 px-0 text-center">
      <mat-icon aria-hidden="false" aria-label="liquor" class="display-4  text-center f-100">search_off</mat-icon>
      <h1 class="">
        Not found cocktails
      </h1>
      <p class="lead my-3"></p>
    </div>
  </div>

  <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="loadMoreCoctails()">
  </div>
</div>
