<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  <div class="col-md-12 px-0 text-center">
    <mat-icon aria-hidden="false" aria-label="liquor" class="display-4  text-center f-100">local_bar</mat-icon>
    <h1 class="">
      Coctail & Mixed Drinks
    </h1>
    <p class="lead my-3"></p>
  </div>
</div>

<nav class="navbar navbar-light p-1">
  <div class="container p-0">
    <ul class="nav">
      <li class="nav-item">
        <mat-form-field appearance="fill">
          <mat-label>Kategoria</mat-label>
          <mat-select [formControl]="categories" [(ngModel)]="selectedCategories" multiple>
            <mat-option *ngFor="let category of categoriesList" [value]="category">{{category}}</mat-option>
          </mat-select>
        </mat-form-field>
      </li>
      <li class="nav-item">
        <mat-form-field appearance="fill">
          <mat-label>Szklanka</mat-label>
          <mat-select [formControl]="glasses" multiple>
            <mat-option *ngFor="let glass of glassesList" [value]="glass">{{glass}}</mat-option>
          </mat-select>
        </mat-form-field>
      </li>
    </ul>
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-link px-3 me-2 text-theme" (click)="getCoctailByFilter()">
        Filtruj
      </button>
    </div>
  </div>
</nav>

<div class="container py-5">
  <div class="card-columns">
    <div class="card" *ngFor="let coctail of allCoctails">
      <a [routerLink]="['/drink', coctail.id]">
        <img class="card-img-top" src="{{coctail.photoUrl}}" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">{{coctail.name}}</h2>
          <p class="card-text">
            {{coctail.instructions}}
          </p>
          <p class="card-text"><small class="text-muted">
              <i></i>
              {{coctail.category}}
              <i></i>
              {{coctail.dateModified | date:'mediumDate'}}
            </small>
          </p>
        </div>
      </a>
    </div>
  </div>

  <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="loadMoreCoctails()"></div>
</div>
