h1 {
  color: rgb(255, 255, 255);
  padding: 10px 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: none;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }

  a {
    color: initial;

    &:hover {
      text-decoration: initial;
    }
  }

  .text-muted i {
    margin: 0 10px;
  }
}

.btn-text {
  vertical-align: middle;
}

.tag-icon {
  font-size: 17px;
  width: auto;
  height: auto;
  padding-left: 5px;
  vertical-align: middle;
}

.tag-btn-li {
  padding-bottom: 1.34375em;
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }

  mat-form-field {

    .mat-hint,
    input,
    ::placeholder,
    .mat-form-field-label {
      color: rgb(255, 255, 255);
    }
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgba(255, 255, 255, 0.178);
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 0px !important;

  }

  .mat-select-value {
    color: rgb(255, 255, 255);
  }
}

.bg-color {
  background-color: #100e14;
}

.btn-link {
  color: #ffffff;
  text-decoration: none;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 35%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}