
<ngb-carousel *ngIf="carusele">
  <ng-template ngbSlide *ngFor="let coctail of randomCoctails">
    <div class="picsum-img-wrapper" class="carousel" [routerLink]="['/drink', coctail.id]">
      <img [src]="coctail.photoUrl" class="carousel-img" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <div class="bg-dark-blur border border-secondary border-5">
        <h2>{{coctail.name}}</h2>
        <p>
          {{ (coctail.instructions.length > 6) ? (coctail.instructions | slice:0:200)+'..':(coctail.instructions) }}
        </p>
      </div>
    </div>
  </ng-template>
</ngb-carousel>

<div style="height: 10px;" class="d-md-none d-lg-none d-xl-none"></div>

<main>
  <article class="postcard blue" *ngFor="let coctail of randomCoctails" [routerLink]="['/drink', coctail.id]">
    <a class="postcard__img_link" [routerLink]="['/drink', coctail.id]">
      <img class="postcard__img" src="{{coctail.photoUrl}}" alt="Image Title" />
    </a>
    <div class="postcard__text">
      <h1 class="postcard__title blue"><a >{{coctail.name}}</a></h1>
      <div class="postcard__subtitle small">
        <time datetime="2020-05-25 12:00:00">
          <i class="fas fa-calendar-alt mr-2"></i>{{coctail.dateModified | date:'mediumDate'}}
        </time>
      </div>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt">{{coctail.instructions}}</div>
      <ul class="postcard__tagbox">
        <li class="tag__item"><i class="fas fa-tag mr-2"></i>{{coctail.category}}</li>
        <li class="tag__item"><i class="fas fa-clock mr-2"></i>{{coctail.glass}}</li>
        <li class="tag__item" *ngFor="let ingradient of coctail.ingradients"><i
            class="fas fa-clock mr-2"></i>{{ingradient.name}}</li>
      </ul>
    </div>
  </article>
</main>
