.registration-form .create-account {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #303030;;
  border: none;
  color: white;
  margin-top: 20px;
}

.login {
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
}