<div class="jumbotron p-3 p-md-5 text-white parallax" style="background-image: url({{coctail.photoUrl}});">
  <div class="col-md-12 px-0 text-center strokeme">
    <mat-icon aria-hidden="false" aria-label="liquor" class="display-4 text-center f-100">local_bar</mat-icon>
    <h1 class="">
      Coctail & Mixed Drinks
    </h1>
  </div>
</div>

<main>
  <article class="postcard blue">
    <a class="postcard__img_link">
      <img class="postcard__img" src="{{coctail.photoUrl}}" alt="Image Title" />
    </a>
    <div class="postcard__text">
      <h1 class="postcard__title blue"><a>{{coctail.name}}</a></h1>
      <div class="postcard__subtitle small">
        <time datetime="2020-05-25 12:00:00">
          <i class="fas fa-calendar-alt mr-2"></i>{{coctail.dateModified | date:'mediumDate'}}
        </time>
      </div>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt">{{coctail.instructions}}</div>
      <div>
        <p class="card-text h6 mb-2">Glass: </p>
        <p class="card-text ml-2"> {{coctail.glass}}</p>
        <p class="card-text h6 mb-2">Ingredients:</p>
        <table class="ml-2">
          <tbody>
            <tr *ngFor="let item of coctail.ingradients">
              <td class="">{{item.name}}</td>
              <td class="pl-2">{{item.measure}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ul class="postcard__tagbox">
        <li class="tag__item"><i class="fas fa-tag mr-2"></i>{{coctail.category}}</li>
        <li class="tag__item"><i class="fas fa-clock mr-2"></i>{{coctail.alcoholic}}</li>
        <li class="tag__item bg-success"><i class="fas fa-clock mr-2"></i>
          <a (click)="acceptCoctail()">
            <mat-icon class="h7 m-0">check</mat-icon>
          </a>
        </li>
        <li class="tag__item bg-danger"><i class="fas fa-clock mr-2"></i>
          <a (click)="rejectCoctail()">
            <mat-icon class="h7 m-0">delete</mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </article>
</main>
