<main>
  <article class="postcard blue">
    <a class="postcard__img_link">

      <img class="postcard__img bg-color" src="https://www.thecocktaildb.com/images/media/drink/utpxxq1483388370.jpg" alt="Image Title" />
    </a>
    <div class="postcard__text">
      <h1>
        <a class="h1 blue">
          <ng-container *ngIf="this.CreateCoctailForm.value.name">
            {{this.CreateCoctailForm.value.name}}
          </ng-container>
          <ng-container *ngIf="!this.CreateCoctailForm.value.name">
            Coctail Name
          </ng-container>
        </a>  
      </h1>

      <div class="postcard__subtitle small">
        <time datetime="2020-05-25 12:00:00">
          <i class="fas fa-calendar-alt mr-2"></i>{{this.CreateCoctailForm.value.dateModified | date:'mediumDate'}}
        </time>
      </div>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt">
        <ng-container *ngIf="this.CreateCoctailForm.value.instructions">
          {{this.CreateCoctailForm.value.instructions}}
        </ng-container>
        <ng-container *ngIf="!this.CreateCoctailForm.value.instructions">
          Instructions
        </ng-container>
      </div>
      <div>
        <p class="card-text h6 mb-2">Glass: </p>
        <p class="card-text ml-2"> {{this.CreateCoctailForm.value.glass}}</p>
        <p class="card-text h6 mb-2">Ingredients:</p>
        <table class="ml-2">
          <tbody>
            <tr *ngFor="let item of this.CreateCoctailForm.value.ingradients">
              <ng-container *ngIf="item.name">
                <td class="">{{item.name}}</td>
              </ng-container>
              <ng-container *ngIf="!item.name">
                <td class="">Name</td>
              </ng-container>

              <ng-container *ngIf="item.measure">
                <td class="">{{item.measure}}</td>
              </ng-container>
              <ng-container *ngIf="!item.measure">
                <td class="">Measure</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      <ul class="postcard__tagbox">
        <li class="tag__item"><i class="fas fa-tag mr-2"></i>{{this.CreateCoctailForm.value.category}}</li>
        <li class="tag__item"><i class="fas fa-clock mr-2"></i>{{this.CreateCoctailForm.value.alcoholic}}</li>
      </ul>
    </div>
  </article>
</main>


<div class="container pt-5 pb-5 bg-light border ">
  <form [formGroup]="CreateCoctailForm" (ngSubmit)="addCocktail()">

    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-6">
        <div class="form-group">
          <label for="name">Coctail Name</label>
          <input type="text" id="name" name="name" formControlName="name" class="form-control item" placeholder=""
            required>
        </div>
      </div>
      <div class="col-12 col-sm-2 col-md-2">
        <div class="form-group">
          <label for="alcoholic">Alcoholic</label>
          <mat-form-field class="w-100">
            <mat-select formControlName="alcoholic">
              <mat-option *ngFor="let alcohol of alcoholicList" [value]="alcohol">{{alcohol}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="form-group">
          <label for="category">Category</label><br />
          <mat-form-field class="w-100">
            <mat-select formControlName="category">
              <mat-option *ngFor="let category of categoriesList" [value]="category">{{category}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="form-group">
          <label for="glass">Glass</label><br />
          <mat-form-field class="w-100">
            <mat-select formControlName="glass">
              <mat-option *ngFor="let glass of glassesList" [value]="glass">{{glass}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="form-group">
          <label for="instructions">Instructions</label>
          <textarea rows="3" id="instructions" name="instructions" formControlName="instructions"
            class="form-control item" placeholder="" required></textarea>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <h4 class="mb-1">
          Add Ingredients:
          <button type="button" (click)="addIngredient()" class="btn btn-sm">
            <mat-icon>add</mat-icon>
          </button>
        </h4>
      </div>
    </div>

    <div formArrayName="ingradients">
      <div class="row justify-content-md-center pb-2" *ngFor="let ingredient of ingradients().controls; let i=index"
        [formGroupName]="i">
        <div class="col-10 col-sm-5 col-md-4 pb-2 pb-md-0">
          <input type="text" formControlName="name" class="form-control item" placeholder="name">
        </div>
        <div class="col-10 col-sm-5 col-md-3">
          <div class="input-group">
            <input type="text" formControlName="measure" class="form-control item" placeholder="measure">
            <div class="input-group-append">
              <span class="input-group-text" id="measure">Oz</span>
            </div>
          </div>
        </div>
        <div class="col-2 col-sm-2 col-md-1">
          <button (click)="removeIngredient(i)" class="btn btn-danger delete-btn w-100">
            -
          </button>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <button type="submit" class="btn btn-success mt-4 w-100">Submit</button>
        {{this.CreateCoctailForm.value | json}}
      </div>
    </div>
  </form>

  <ng-container *ngIf="photoMode">
    <div class="row justify-content-center pb-3">
      <div class="col-12 col-md-8">
        <label for="validatedCustomFile">Image</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="validatedCustomFile" ng2FileSelect [uploader]="uploader" />
          <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
          <div class="invalid-feedback">Example invalid custom file feedback</div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-success btn-s mr-2" (click)="uploader.uploadAll()"
      [disabled]="!uploader.getNotUploadedItems().length || currentIdForAddPhoto === 0">
      <span class="fa fa-upload"></span> Upload all
    </button>
  </ng-container>
</div>