<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1 pr-0">
        <mat-icon class="blog-header-logo-icon pr-1" aria-hidden="false" aria-label="Log in">local_bar</mat-icon>
        <a class="blog-header-logo text-dark" routerLink='/'>Drinker</a>
      </div>
      <div class="col-4 p-0 text-center">
        <form class="form-inline justify-content-center">
          <input class="form-control form-control-sm w-50  ds-input" type="text" placeholder="Find cocktail..." matInput
            [formControl]="searchControl" [matAutocomplete]="auto" (keydown.enter)="onKeyDownEvent($event)">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let name of filteredCocktailNames | async" [value]="name">
              {{name}}
            </mat-option>
          </mat-autocomplete>
          <a class="text-muted" (click)="onKeyDownEvent($event)">
            <mat-icon class="ml-2 blog-header-logo-icon" aria-hidden="false" aria-label="search">search</mat-icon>
          </a>
        </form>
      </div>
      <div class="col-4 pl-0 d-flex justify-content-end align-items-center">

        <div ngbDropdown class="d-inline-block" *ngIf="(accountService.currentUser$ | async) === null">
          <button class="btn " id="dropdownBasic1" ngbDropdownToggle>
            <mat-icon class="blog-header-logo-icon logout-icon" aria-hidden="false" aria-label="Profil menu">account_circle</mat-icon>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem class="p-3" (click)="openLoginContent(loginContent)"> 
              <mat-icon class="login-menu-icon">login</mat-icon>
              <span class="login-menu-text">Login</span>
            </button>
            <button ngbDropdownItem class="p-3" (click)="openRegistraionContent(registrationContent)">
              <mat-icon class="login-menu-icon">assignment_ind</mat-icon>
              <span class="login-menu-text">Registration</span>
            </button>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block" *ngIf="(accountService.currentUser$ | async) as user">
          <button class="btn " id="dropdownBasic1" ngbDropdownToggle>
            <mat-icon class="blog-header-logo-icon login-icon" aria-hidden="false" aria-label="Profil menu">account_circle</mat-icon>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem class="p-3"> 
              <mat-icon class="login-menu-icon">account_box</mat-icon>
              <span class="login-menu-text">My profil</span>
            </button>
            <button ngbDropdownItem class="p-3" (click)="logout()">
              <mat-icon class="login-menu-icon">logout</mat-icon>
              <span class="login-menu-text">Logout</span>
            </button>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" routerLink="/coctailBuilder">Coctail Builder</a>
      <a class="p-2 text-muted" routerLink="/drinks">Coctail & Mixed Drinks</a>
      <a class="p-2 text-muted" routerLink="/game">Game</a>
      <a class="p-2 text-muted" routerLink="/calculator">Drinks Calculator</a>
    </nav>
  </div>
</div>

<ng-template #loginContent let-modal>
  <app-login></app-login>
</ng-template>

<ng-template #registrationContent let-modal>
  <app-registration></app-registration>>
</ng-template>