<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-black">

  <mat-icon class="blog-header-logo-icon pr-1 text-white" aria-hidden="false" aria-label="Log in">local_bar</mat-icon>
  <a class="navbar-brand" href="#">Drinker</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
    [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="!navbarCollapsed">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="(accountService.currentUser$ | async) as user" routerLink="/coctailBuilder" (click)="navbarCollapsed = !navbarCollapsed">Coctail
          Builder</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/drinks" (click)="navbarCollapsed = !navbarCollapsed">Coctail & Mixed Drinks</a>
      </li>
      <!-- <li class="nav-item" (click)="navbarCollapsed = !navbarCollapsed">
        <a class="nav-link" routerLink="/game">Game</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/calculator" (click)="navbarCollapsed = !navbarCollapsed">Drinks Calculator</a>
      </li>
    </ul>

    <span class="navbar-text">
      <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-left"
        *ngIf="(accountService.currentUser$ | async) === null">
        <a class="btn p-0" id="dropdownBasic1" ngbDropdownToggle>
          <mat-icon class="blog-header-logo-icon d-none d-md-block d-lg-block pr-2" aria-hidden="false"
            aria-label="Profil menu">
            account_circle
          </mat-icon>
          <span class="nav-link p-0	d-md-none d-lg-none d-xl-none">Profile</span>
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
          <button ngbDropdownItem class="p-3" (click)="openLoginContent(loginContent)" (click)="navbarCollapsed = !navbarCollapsed">
            <mat-icon class="login-menu-icon">login</mat-icon>
            <span class="login-menu-text">Login</span>
          </button>
          <button ngbDropdownItem class="p-3" (click)="openRegistraionContent(registrationContent)" (click)="navbarCollapsed = !navbarCollapsed">
            <mat-icon class="login-menu-icon">assignment_ind</mat-icon>
            <span class="login-menu-text">Registration</span>
          </button>
        </div>
      </div>
    </span>

    <span class="navbar-text">
      <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-left"
        *ngIf="(accountService.currentUser$ | async) as user">
        <a class="btn p-0" id="dropdownBasic1" ngbDropdownToggle>
          <mat-icon class="blog-header-logo-icon d-none d-md-block d-lg-block pr-2" aria-hidden="false"
            aria-label="Profil menu">
            account_circle
          </mat-icon>
          <span class="nav-link p-0	d-md-none d-lg-none d-xl-none">Profil</span>
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
          <button ngbDropdownItem class="p-3" routerLink="account" (click)="navbarCollapsed = !navbarCollapsed">
            <mat-icon class="login-menu-icon">account_box</mat-icon>
            <span class="login-menu-text">My profil</span>
          </button>
          <button ngbDropdownItem class="p-3" *appHasRole='["Admin", "Moderator"]' routerLink="admin-panel" (click)="navbarCollapsed = !navbarCollapsed">
            <mat-icon class="login-menu-icon">admin_panel_settings</mat-icon>
            <span class="login-menu-text">Admin panel</span>
          </button>
          <button ngbDropdownItem class="p-3" routerLink="favorite-drink" (click)="navbarCollapsed = !navbarCollapsed">
            <mat-icon class="login-menu-icon">favorite</mat-icon>
            <span class="login-menu-text">Favorite</span>
          </button>
          <button ngbDropdownItem class="p-3" (click)="logout()" (click)="navbarCollapsed = !navbarCollapsed">
            <mat-icon class="login-menu-icon">logout</mat-icon>
            <span class="login-menu-text">Logout</span>
          </button>
        </div>
      </div>
    </span>

    <form class="form-inline my-2 my-lg-0 ml-1">
      <input class="form-control" type="search" placeholder="Find cocktail..." style="max-width: 200px;" [formControl]="searchControl"
        [matAutocomplete]="auto" (keydown.enter)="onKeyDownEvent($event)">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let name of filteredCocktailNames | async" [value]="name" (click)="onKeyDownEvent($event)">
          {{name}}
        </mat-option>
      </mat-autocomplete>
      <a class="text-muted" (click)="onKeyDownEvent($event)">
        <mat-icon class="ml-2 blog-header-logo-icon text-white" aria-hidden="false" aria-label="search">search
        </mat-icon>
      </a>
    </form>
  </div>
</nav>

<ng-template #loginContent let-modal>
  <app-login></app-login>
</ng-template>

<ng-template #registrationContent let-modal>
  <app-registration></app-registration>>
</ng-template>
