<div class="registration-form">
  <form>
    <div class="form-icon">
      <span>
        <mat-icon class="icon icon-user" aria-hidden="false" aria-label="Log in">account_circle</mat-icon>
      </span>
    </div>
    <div class="form-group">
      <input type="text" class="form-control item" id="username" placeholder="Username or email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control item" id="password" placeholder="Password">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-block login">Log in</button>
      <a href="/registration" class="btn btn-block create-account">Create Account</a>
    </div>
  </form>
  <div class="social-media">
    <h5>Log in with social media</h5>
    <div class="social-icons">
      <a href="#">
        <mat-icon class="icon-social-facebook" aria-label="Log in">facebook</mat-icon>
      </a>
    </div>
  </div>
</div>
