<div class="row">
  <div class="col">
    <div class="jumbotron p-md-5 text-white bg-color m-0">
      <div class=" px-0 text-center">
        <mat-icon aria-hidden="false" aria-label="liquor" class="display-4  text-center f-100">calculate</mat-icon>
        <h1 class="">
          Drinks Calculator
        </h1>
        <p class="lead my-3"></p>
      </div>
    </div>
  </div>
</div>

<form #calcForm="ngForm" (ngSubmit)="calculate()" >

  <div class="row">
    <div class="col-sm-7 col-9 pr-0">

      <div class="bg-color2 text-white p-3">
        <h3>Weight and sex</h3>
        <div class="d-flex flex-row">
          <div class="form-group">
            <div class="input-group mb-3">
              <input [(ngModel)]="calcModel.weight" #weight="ngModel" [class.is-invalid]="weight.invalid && weight.touched"
                     name="weight" type="number" class="form-control" required pattern="^([1-9]|[1-9][0-9]|[1-3][0-9][0-9])$">
              <div class="input-group-append">
                <span class="input-group-text" id="weight">Kg</span>
              </div>
            </div>
            <div class="alert alert-danger" *ngIf="">Weight is required</div>
          </div>

          <div class="form-group ml-3">
            <div class="input-group">
              <select [(ngModel)]="calcModel.sex" #sex="ngModel" [class.is-invalid]="sex.invalid && sex.touched" 
                      name="sex" class="form-control" required>
                <option value="1">Man</option>
                <option value="2">Woman</option>
              </select>
            </div>
          </div>
        </div>

        <h3>How much alcohol did you drink and it's strength</h3>
        <div class="d-flex flex-row">
          <div class="form-group">
            <div class="input-group mb-3">
              <input [(ngModel)]="calcModel.quantity" #quantity="ngModel" [class.is-invalid]="quantity.invalid && quantity.touched" 
                     name="quantity" type="number" class="form-control" required pattern="^([1-9]|[1-9][0-9]|[1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])$">
              <div class="input-group-append">
                <span class="input-group-text" id="quantity">ml</span>
              </div>
            </div>
          </div>

          <div class="form-group ml-3">
            <div class="input-group mb-3">
              <input [(ngModel)]="calcModel.percentage" #percentage="ngModel" [class.is-invalid]="percentage.invalid && percentage.touched" 
                     name="percentage" type="number" class="form-control" required pattern="^([1-9]|[1-9][0-9]|100)$">
              <div class="input-group-append">
                <span class="input-group-text" id="percentage">%</span>
              </div>
            </div>
          </div>
        </div>

        <h3>When did you finish your last drink?</h3>
        <div class="d-flex flex-row">
          <div class="form-group">
            <div class="input-group mb-3">
              <input [(ngModel)]="calcModel.timePassed" #timePassed="ngModel" [class.is-invalid]="timePassed.invalid && timePassed.touched"  
                     name="timePassed" type="number" class="form-control" required pattern="^([1-9]|[1-9][0-9])$">
              <div class="input-group-append">
                <span class="input-group-text" id="time-passed">h</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-5 col-3 pl-0 text-center">
      <div class="result-calculate text-center text-white">
        <span name="permile" class="text-result-calculate">{{calcModel.permile}} ‰</span>
        <button [disabled]="calcForm.form.invalid" class="btn btn-danger btn-result-calculate" type="submit">Calculate</button>
      </div>
    </div>

  </div>
</form>
