.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #100e14;
    border-top: .05rem solid #000000;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}
